.navbar_style {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
  }
  
  ul li {
    float: left;
  }
  
  ul li:last-child {
    margin-left: auto;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #277ea1;
  }
  .active {
    font-weight: bold;
    background-color: rgb(198, 198, 198);
    color: rgb(35, 35, 35);
  }

  .logout {
    color: white;
    text-align: center;
    padding: 14px 16px;
    background: transparent;
    border: none;
  }
}