nav {
    display: flex;
    align-items: center;
    background-color: #333;

    a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        transition: background-color .2s ease, color .2s ease;
        &.active {
            background-color: rgb(198, 198, 198);
            color: rgb(44, 44, 44);
        }
    }

    .menu, .logout {
      display: block;
      color: white;
      text-decoration: none;
      padding: 14px 16px;
      transition: background-color .2s ease, color .2s ease;
      cursor: pointer;
      &.active {
          background-color: rgb(198, 198, 198);
          color: rgb(44, 44, 44);
      }
    }

    .logout {
      margin-left: auto;
    }
}

@media (hover: hover) {
    nav a:hover {
        background-color: #277ea1;
    }
}

nav a {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.mobile_navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  height: 100dvh;
  background-color: #277ea1ad;
  box-sizing: border-box;
  a {
    color: white;
    &.active {
      color: rgb(87, 19, 159);
    }
  }
}
.mobile_logout {
  margin-top: auto;
}

